.NavbarDocument {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 10px;
}

.boutonFiltre img {
  width: 48px;
  height: 48px;
}

.boutonFiltre {
  flex: 1;
  gap: 15px;
  display: flex;
}

.boutonFiltre button{
  min-width: 0;
  text-align: center;
}
