.DocumentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 25px;
}

.DocumentTitre {
  margin-bottom: 2rem;
}

.DocumentTableau {
  flex: 1;
  margin-top: 15px;
}
