.TableContainer {
  max-height: 800px;
  overflow-y: auto;
}

.Table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.Table th,
.Table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.Header th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
  border-bottom: 1px solid #ccc;
}

.TableContainer {
  border: 1px solid #ccc;
}
