
.Table {
  border: 1px solid;
  text-align: center;
  width: 100%;
  align-self: center;
}
thead > tr {
  border-bottom: 1px solid;
  width: 100%;
}
th {
  border-right: 1px solid;
  padding: 5px;
  margin: 0;
  
}
td {
  border-right: 1px solid;
  border-bottom: 1px solid;
  overflow: auto;
}
tbody {
  display: block;
  height: 435px;
  overflow: auto;
}
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
