.Table{
    border: 1px solid;
    text-align: center;
    margin: auto;
}
.Header{
    border-bottom: 1px solid;
}
 th {
    border-right: 1px solid;
}
td{
    border-right: 1px solid;
    border-bottom: 1px solid;
}
