.ContainerTable {
  height: 435px;
  width: 100%;
  overflow-y: scroll;
}
.Table {
  border: 1px solid;
  text-align: center;
  width: 100%;
}
.Header {
  border-bottom: 1px solid;
}
th {
  border-right: 1px solid;
  padding: 5px;
  margin: 0;
}
td {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
tbody {
  display: block;
  height: 435px;
  overflow: auto;
}
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
