.backgroudPage {
  background: black;
  min-height: 100vh;
  margin: 0;
  padding: 50px 300px;
  position: relative;
}

/* Logo */

.logoWrap {
  position: absolute;
  top: 24px;
  left: 60px;
}
.logoImg {
  width: 150px;
  height: auto;
  margin-left: 100px;
}

/* NavBar */

.carteEquipe {
  aspect-ratio: 1/1;
  border-radius: 2.2rem !important;
  overflow: hidden;
  background-color: #d1d1d1 !important;
  border-bottom: 0.5px solid #00ff76;
  border-right: 0.5px solid #00ff76;
  width: 100%;
}
.carteEquipe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #1faf62c9;
}
.carteImage {
  height: 75% !important;
  object-fit: cover;
  display: block;
  width: 100%;
}

.cartesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5rem 5rem;
  justify-content: center;
  align-content: start;
  width: 90%;
  margin: 10rem auto 5rem;
  padding-bottom: 3rem;
}

.iconeSport {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.buttonEquipes {
  min-width: 123px;
  height: auto;
  background-color: #2c9e6166 !important;
  border-radius: 15px !important;
  border: 2px solid #005326 !important;
  text-transform: none !important;
  font-size: 14px;
  padding: 4px 14px !important;
  color: #005326 !important;
}

.generalCarte {
  display: flex;
  flex-direction: column;
  gap: 2;
  background-color: #d1d1d1;
  padding: 10 0 0 20px !important;
}

.carteTitre {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  color: #0d0d0d;
}

.groupeBoutons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 4%;
  margin-bottom: 4%;
}
