.backgroudPage {
  background: black;
  min-height: 100vh;
  margin: 0;
  padding: 50px 300px;
  position: relative;
}

/* Logo */

.logoWrap {
  position: absolute;
  top: 24px;
  left: 60px;
}
.logoImg {
  width: 150px;
  height: auto;
  margin-left: 100px;
}

/* NavBar */



.carteEquipe {
  border-radius: 15px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  overflow: hidden;
  background-color: black;
  border-color: #00ff76;
}
.carteEquipe:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 255, 118, 0.3);
}
.carteEquipe img {
  object-fit: cover;
}

.cartesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 4rem;
  justify-content: center;
  align-content: start;
  width: 70%;
  margin: 10rem auto 5rem;
  padding-bottom: 3rem;
}

.iconeSport {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.buttonEquipes {
  border-color: #005427 !important;
  background-color: rgba(44, 159, 97, 0.4) !important;
  color: black !important;
  text-transform: none !important;
  font-size: 0.8rem;
  border-radius: 20px;
  gap: 5px;
  justify-content: space-between;
}

.generalCarte {
  display: flex;
  flex-direction: column;
  gap: 2;
  background-color: #dadada;
}
