#connexionBtn {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 14px 40px;
  font-size: 1.4rem;
  color: white;
  background: transparent;
  border: 2px solid #00ff76;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
  transition: all 0.3s ease;
}
#connexionBtn:hover {
  background: #00ff76;
  color: black;
}