.ModalContainer {
  align-self: center;
  z-index: 1000;
  justify-content: center;
  position: absolute;
}

.ModalAdmin {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 500px;
  color: black;
  border: 3px solid;
  border-color: #00ff76;
}
.tableauModal {
  height: 90%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  row-gap: 10px;
}
.elementTableauModal {
  border: none;
  padding-right: 5px;
}
.inputTableauModal {
  border: none;
  padding-left: 5px;
}
.boutonsModal {
  display: flex;
  justify-content: space-evenly;
}
