.equipe-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  margin-top: 0.5rem;
}

.choix-equipe {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.titre {
  margin-right: 0.5rem;
}

.equipe-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.icon {
  /*ca fait rien live parce que c'est des svg importé*/
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.choix-session {
  margin-right: 5rem;
}
