.equipe-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding: 0.2rem 0;
}

.choix-equipe {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.titre {
  margin-right: 0.5rem;
}

.equipe-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 0.5rem;
}

.choix-session{
  margin:0 2rem;
}
