.calendrier-container {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  height: 100vh;
  width: 100%;
  gap: 0.5rem;
  font-family: sans-serif;
  margin: auto;
  /*va etre enlever*/
  /*background-color: aqua;*/
}

.calendrier-header select {
  margin-left: 20px;
  padding: 5px;
}

.sideBar{
  grid-column: 1/4;
  height: 100%;
}

.calendrier{
  grid-column: 4/13;
  height: 100%;
}
