.calendrier-container {
  font-family: sans-serif;
  margin: auto;
  /*va etre enlever*/
  background-color: aqua;
  width: 100%;
  height: 100%;
}

.calendrier-header select {
  margin-left: 20px;
  padding: 5px;
}
