.graphique-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    color: #e5e5e5;
    position: relative;
}

.graphique-titre {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffffff;
}

.graphique-wrapper {
    position: relative;
}

.axe-y-label {
    position: absolute;
    top: 0%;
    left: 15px;
    transform-origin: center;
    color: #bcbcbc;
    font-size: 13px;
}

.axe-x-label {
    position: absolute;
    bottom: -25px;
    width: 100%;
    text-align: center;
    color: #bcbcbc;
    font-size: 13px;
}
