.tableau-stats {
    width: 100%;
    margin: 30px auto;
    font-size: 1rem;
    text-align: center;
    background-color: #131313;
    border-radius: 10px;
    overflow: hidden;
}

.tableau-stats thead {
    background-color: #00BF74;
    color: black;
}

.tableau-stats th {
    padding: 12px 15px;
    text-transform: capitalize; /* majuscule */
    font-weight: lighter;
}

.tableau-stats td {
    padding: 10px 15px;
}

.tableau-stats tr{
    border-bottom: 0.5px solid #2a2a2a;
}
.tableau-stats tr:hover {
    background-color: #1d1d1d;
}