
.footer {
    background-color: black;
    color: white;
    padding: 3rem 0;
    font-family: "Gowun Dodum", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLigne{
    width: 85%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
}

.footerGauche,
.footerDroite {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.footerGauche h3,
.footerDroite h3 {
    font-family: "Koulen", sans-serif;
    font-size: 1.2rem;
}

.footerGauche ul,
.footerDroite ul {
    padding: 0;
    list-style-type: none; /* enlever les points */
}


.footerGauche a,
.footerDroite a {
    color: #ccc;
    text-decoration: none;
}

.footerGauche li ,
.footerDroite li {
    color: #ccc;
    text-decoration: none;
    margin-bottom: 7px;
}

.footerGauche a:hover,
.footerDroite a:hover {
    color: #00ff76;
    text-decoration: underline;
}

.footerGauche img {
    width: 20px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}