.ContainerAdmin {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.ContainerItemsBlur {
  filter: blur(5px);
}
.ContainerItems {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 50px 0px;
}
.TextAreaButton {
  display: flex;
}
