.ContainerAdmin {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 20px;
}
.ContainerItemsBlur {
  filter: blur(5px);
}
.ContainerItems {
  display: flex;
  flex-direction: column;
  width: 1000px;
  gap: 50px 0px;
}
.TextAreaButton {
  display: flex;
  justify-content: end;
  width: 100%;
}
