.ContainerAdmin{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.ContainerItems{
    display: flex;
    flex-direction: column;
    width: 800px;
}
.TextAreaButton{
    display: flex;
    
}

