#backgroundForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background-color: #1A1A1A;
  border-radius: 1rem;
  max-width: 800px;
  max-height: 500px;
}