.ContainerPresentoire{
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    gap: 0px 10px;
}
.ContainerPresentoire > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    height: 200px;
    
}
.itemPresente0{
background-color: blue;
width: 100%;
}
.itemPresente1{
background-color: rgb(255, 0, 0);
width: 100%;

}
.itemPresente2{
background-color: rgb(0, 255, 0);
width: 100%;

}