.ContainerPresentoire {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  gap: 0px 10px;
}
.ContainerPresentoire > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  height: 150px;
}

.itemPresente0,
.itemPresente1,
.itemPresente2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #00ff76;
  padding: 10px;
  width: 100%;
}

.titreCase {
}

.elementCase {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element {
    font-size: 20px;
}