.ContainerPresentoire {
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  gap: 0px 10px;
}
.ContainerPresentoire > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  height: 200px;
}
.itemPresente0 {
  border: 2px solid #00ff76;
  width: 100%;
}
.itemPresente1 {
  border: 2px solid #00ff76;
  width: 100%;
}
.itemPresente2 {
  border: 2px solid #00ff76;
  width: 100%;
}
