.vueMois-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px 3px;
  border-radius: 10px;
  background-color: #2b2b2b;
}

.vueMois-JourSemaine {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  margin-bottom: 5px;
}

.jourSemaine-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vueMois-JourCalendrier {
  flex-grow: 1;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.jourCalendrier-item {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid #727272;
}

.jourCalendrier-item.courant {
}

.jourCalendrier-item.autreMois {
  color: #777;
}
