.statistiques-page {
    color: #dadada;
    max-width: 100%;
    padding: 30px;
    height: 100vh;
    overflow: scroll;
}

.info-equipe {
    background-color: #131313;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.info-lignes{
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    color: #9b9b9b;
}