.cal-navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
}

.create-bouton{
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 1.5rem;
}

.mini-calendrierContainer{
  grid-column: 1/4;
  grid-row: 2/5;
  border-radius: 15px;
}

.mini-calendrierNav{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mini-calendrierBouton{
  display: flex;
  margin-right: 1.5rem;
}

.mini-calendrierContenue{
  display:grid;
  grid-template-columns: repeat(7,1fr);
  gap:5px
}