.cal-navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
}

.create-bouton{
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: 1.5rem;
}

.mini-calendrier{
  grid-column: 1/4;
  grid-row: 2/6;
}