.buttonAdmin{
  color: white;
  background: transparent;
  border: 2px solid #00ff76;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
  transition: all 0.3s ease; 
  height: 30px;
  width: fit-content;
}