:root{
    /* exemple de variable de couleur pour le code*/
    --color-primary: #ccc;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #000;
  color: white;
  font-family: sans-serif;
}

.dashboard-sidebar {
  width: 220px;
  background-color: #1f1f1f;
  padding: 1rem;
}

.dashboard-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-menu li {
  margin-bottom: 1rem;
}

.dashboard-menu a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  display: block;
  padding: 0.5rem 0;
}

.dashboard-menu a.active {
  color: #ccc;
  font-weight: bold;
}

.dashboard-main {
  flex: 1;
  background-color: #1f1f1f;
  min-height: 100vh;        
  display: flex;
}

.dashboard-content {
  flex: 1;
  margin-top: 0.5rem;
  background-color: #000;
  border-top-left-radius: 2rem;
  border-left: 1px solid #424242;
  border-top: 0.2px solid #424242;
  width: 100%;
  height: 100%;
}